.track-list
  margin-top 30px

  &__item
    display flex
    align-items center
    justify-content space-between
    cursor pointer
    padding 10px

    &.active
      background #eee

    &:hover
      background #eee

  &__item-left
    display flex
    align-items center

  &__artist
    font-weight bold

  &__delimiter
    margin-left 5px
    margin-right 5px